
  <td class="text-center">
      <div class="avatar">
        <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
        <span class="avatar-status badge-success"></span>
      </div>
    </td>
    <td>
      <div>Mark Macdonell</div>
      <div class="small text-muted">
        OEM Business Development Manager
      </div>
    </td>
    <td>
      <div> Atlas </div>
    </td>
    <td>
      <div>
        <span class="badge badge-success">New</span>
        CW1040 Winder Motors
      </div>
    </td>
    <td class="text-right">
      <div>2600</div>
    </td>
    <td>
      <div class="text-right">600</div>
    </td>
    <td class="text-center">
        <div class="avatar">
          <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
          <span class="avatar-status badge-success"></span>
        </div>
      </td>
      <td>
        <div>Mark Macdonell</div>
        <div class="small text-muted">
          OEM Business Development Manager
        </div>
      </td>
    <td>
      <div class="small text-muted">Updated</div>
      <strong>10 sec ago</strong>
    </td>
